.head {
  padding: 20px;
  display: flex;
  justify-content: right;
  border-bottom: 1px solid blue;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#hero-img {
  height: 400px;
  width: 300px;
  border-radius: 50%;
}
.projects{
    display: flex;
    gap: 2px;
    align-items: center;
}
#p1{
    width: 33.33%;
    border: 1px solid black;
}
#img1{
    width: 100%
}